body {
    margin: 0;
    background-color: #193c6d;
    background-size: 100%;
    background-image: -webkit-linear-gradient(5deg, #003073, #029797);
    text-align: center;
    overflow: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
